<!DOCTYPE html>
<html>
  <head>
    <title>PDF製本データくん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'PDF製本データくん', root_path %>
    </header>
    <div id="flash">
      <% if flash.each %>
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <%#= debug(params) if Rails.env.development? %>
    <footer>
      © 2021 PDF製本データくん All Rights Reserved.
    </footer>
  </body>
</html>
