<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Google Search Console -->
    <meta name="google-site-verification" content="r1p1S_o9IRu3mQ8kG5bvs3p1q-M-GsofNBIY0zt_pHA" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V5GQT0BJ6X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V5GQT0BJ6X');
    </script>
  </head>
  <body>
    <header>
      <div id="logo">
        <%= link_to @logo, "/" + @language %>
      </div>
      <div id="select_language_wrapper">
        <%= link_to @change_language_message, request.path_info.gsub(@language, @other_language) %>
      </div>
    </header>
    <div id="flash">
      <% if flash %>
        <% flash.each do |message_type, message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <footer>
      <%= @footer %>
    </footer>
  </body>
</html>
